{% extends 'layout/default.twig' %}

{% block style %}{% endblock %}


{% block content %}
	<section>

		<span class="image fit"><img src="{{event.cover}}" alt="{{event.title}}"></span>
		<h2>{{event.title}}</h2>
		<span class="date">{{ item.dateAt | date("l j F Y \à H:i", "Europe/Paris")}}</span>
		<blockquote>{{ event.description|raw }}</blockquote>
		{% if form == true %}
			<form action="" method="post">
				<div class="fields">
					<div class="field third">
						<label for="email">votre adresse email pour vous inscrire</label>
						<input type="text" name="email" value="{{ email }}" id="mail"/>
					</div>
				</div>
				<ul class="actions">
					<li>
						<input type="submit" value="S'inscrire"/>
					</li>
				</ul>
			</form>
		{% else %}
			<p>vous êtes déja inscrit pour cet évènement avec l'adresse
				{{ email }}
				;)
			</p>
			<ul class="actions">
				<li>
					<a href="{{ url}}">{{ email }}
						n'est pas mon adresse email</a>
				</li>
			</ul>

		{% endif %}


	</section>

{% endblock %}


{% block script %}{% endblock %}
