{% extends 'layout/admin.twig' %}

{% block options %}
	<h1 class="h2">Roles</h1>
{% endblock %}
{% block content %}
	{{ form | raw }}
		<div class="table-responsive">
			<table class="table table-striped table-sm text-center">
				<thead>
					<tr>
						<th>Id</th>
						<th>nom</th>
						<th>level</th>
						<th>activate</th>
						<th>createdAt</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.name }}</td>
							<td>{{ item.level }}</td>
							<td>{{ item.activate }}</td>
							<td>{{ item.createdAt | date("d/m/Y") }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% endblock %}
