{% extends 'layout/admin.twig' %}

{% block options %}
	<h1 class="h2">invoces</h1>
{% endblock %}
{% block content %}
	{{form | raw}}
		<div class="table-responsive">
			<table class="table table-striped table-sm text-center">
				<thead>
					<tr>
						<th>Id</th>
						<th>ref</th>
						<th>user</th>
						<th>date_at</th>
						<th>created_at</th>
						<th>updated_at</th>
						<th>actions</th>

					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.ref }}</td>
							<td>{{ users[item.idUsers].lastName }}
								{{ users[item.idUsers].firstName }}</td>
							<td>{{ item.dateAt | date("d/m/Y") }}</td>
							<td>{{ item.createdAt | date("d/m/Y") }}</td>
							<td>
								{% if item.updatedAt %}
									{{ item.updatedAt | date("d/m/Y") }}
								{% endif %}
							</td>
							<td class="form-inline">
								<div class="form-inline">
									<a class="btn btn-primary" href="{{ path("adminInvoceEdit", {id: item.id })}}">
										<span data-feather="edit"></span>
									</a>
								</div>
								<form class="form-inline" method="post" onsubmit="return confirm('Êtes vous sur de vouloir supprimer {{ item.ref }}? \n \n La demarche est définitive et ne peut être inversée.')">
									<div class="form-group">
										<input name="id" type="hidden" class="form-control" id="id" value="{{ item.id }}">
									</div>
									<button type="submit" class="btn btn-danger">
										<span data-feather="trash-2"></span>
									</button>
								</form>
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% endblock %}
