{% extends 'layout/user.twig' %}
{% block title %}User Messages
{% endblock %}
{% block titlePage %}Messages
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

		<div id="newMessageUser" class="{{ display }}">
			<div class="card">
				<div class="card-header card-header-primary dflex row justify-content-between">
					<div>
						<h4 class="card-title">Nouveau message</h4>
						<p class="card-category">Pour envoyer un message à un coworker</p>
					</div>
					<button id="newMsgDown" type="reset" class="btn btn-info pull-right"><i class="material-icons">clear</i> Annuler</button>
				</div>
				<div class="card-body">
					<form method="post" action="#">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group bmd-form-group">
									<label for="destinataire" class="bmd-label">Destinataire :</label>
									<select class="form-control" name="destinataire" id="destinataire">
										<option value="">-- Choisir le destinataire --</option>
										<option disabled="disabled" class="btn btn-primary">Groupe de destinataire</option>
										{% for role in roles %}
										<option value="{{ role.value }}">{{ role.name | capitalize }}</option>
										{% endfor %}
										<option disabled="disabled" class="btn btn-primary">Destinataire unique</option>
										{% for dest in dests %}
										<option value="{{ dest.id }}">{{ dest.lastName | upper }} {{ dest.firstName | capitalize }}</option>
										{% endfor %}
									</select>
									{% if errors['destinataire'] %}
										<span class="material-icons form-control-feedback">clear</span>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group bmd-form-group {% if errors['message'] %} has-danger{% endif %}">
									<label class="bmd-label-floating">Message :</label>
									<textarea id="destMessage" class="form-control" name="message" rows="5"></textarea>
									{% if errors['message'] %}
										<span class="material-icons form-control-feedback">clear</span>
									{% endif %}
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary pull-right">Envoyer mon message <i class="material-icons">send</i></button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>

	<div class="">
		<div class="card">
			<div class="card-header card-header-primary dflex row justify-content-between">
				<div>
					<h4 class="card-title ">Liste des messages</h4>
					<p class="card-category">
						Voici la liste de tes messages
					</p>
				</div>
				<button id="newMsgUp" class="btn btn-info pull-right">Nouveau message <i class="material-icons">send</i></button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="text-primary">
							<tr>
								<th>Le :</th>
								<th>De :</th>
								<th>Message :</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<td>{{ item.createdAt | date("d/m/Y à H:i:s") }}</td>
									<td>{{ item.name }} ({{ item.email }}) {{item.idExp}}</td>
									<td class="col-6">{{ item.message }}</td>
									{% if item.idExp != "none" %}
									<td class="justify-content-end align-center">
										<button class="btn btn-primary pull-right replyMsgUp" title="Répondre par la messagerie" data-id><i class="material-icons">reply</i></button>
									</td>
									{% endif %}
									{% if item.idExp == "none" %}
									<td class="justify-content-end align-center">
										<a href="mailto:{{ item.email }}" class="btn btn-info pull-right" title="Répondre par un email" onClick="mailTo()"><i class="material-icons">alternate_email</i></a>
									</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

				<!-- Scripts -->
				<script src="/assets/js/script-perso.js"></script>
{% endblock %}
