{% extends 'layout/user.twig' %}
{% block title %}User Messages
{% endblock %}
{% block titlePage %}Messages
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

		<div id="newMessageUser" class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary dflex row justify-content-between">
					<div>
						<h4 class="card-title">Nouveau message</h4>
						<p class="card-category">Pour envoyer un message à un coworker</p>
					</div>
					<button id="newMsgDown" class="btn btn-info pull-right"><i class="material-icons">clear</i> Annuler</button>
				</div>
				<div class="card-body">
					<form method="post" action="">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group bmd-form-group">
									<label class="bmd-label-floating">Destinataire</label>
									<input type="text" name="first_name" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group bmd-form-group {% if errors['desc'] %} has-danger{% endif %}">
									<label class="bmd-label-floating">
										Message</label>
									<textarea class="form-control" name="desc" rows="5">{{ user.desc }}</textarea>
									{% if errors['first_name'] %}
										<span class="material-icons form-control-feedback">clear</span>
									{% endif %}
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary pull-right">Envoyer mon message</button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary dflex row justify-content-between">
				<div>
					<h4 class="card-title ">Liste des messages</h4>
					<p class="card-category">
						Voici la liste de tes messages
					</p>
				</div>
				<button id="newMsgUp" class="btn btn-info pull-right">Nouveau message <i class="material-icons">send</i></button>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="text-primary">
							<tr>
								<th>Date d'envoi</th>
								<th>Expéditeur</th>
								<th>Message</th>
								<th>Email</th>
								<th>idUsers</th>
								<th>idRoles</th>
								<th>action</th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<td>{{ item.createdAt | date("d/m/Y à H:i:s") }}</td>
									<td>{{ item.name }}</td>
									<td class="col-6">{{ item.message }}</td>
									<td>{{ item.email }}</td>
									<td>{{ item.idUsers }}</td>
									<td>{{ item.idRoles }}</td>
									<td class="form-inline justify-content-center">
										<form class="form-inline" method="post" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le message de {{ item.name }} ? \n \n La démarche est définitive et ne peut être inversée.')">
											<div class="form-group">
												<input name="id" type="hidden" class="form-control" id="id" value="{{ item.id }}">
											</div>
											<button type="submit" class="btn btn-danger">
												<span data-feather="trash-2"></span>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

				<!-- Scripts -->
				<script src="/assets/js/script-perso.js"></script>
{% endblock %}
