{% extends 'layout/user.twig' %}
{% block title %}User Dashboard
{% endblock %}
{% block titlePage %}Dashboard
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

	<div class="row">
		<div class="col-md-4">
			<div class="card card-profile">
				<div class="card-avatar">
					<img class="img" src="{% if user.img %}{{user.img}}{% else %}/assets/img/faces/avatar.jpg{% endif %}">
				</div>
				<div class="card-body">
					<h6 class="card-category text-gray">{{ roleUser.name }}</h6>
					<h4 class="card-title">{{ user.firstName }}
						{{ user.lastName }}</h4>
					<h4 class="card-title">mail :
						{{ user.email }}<br>
						(
						{% if user.activate %}validé{% else %}non validé
						{% endif %})</p>
				</h4>
				<h4 class="card-title">telephone :{{ user.phoneNumber }}<br>(
					{% if user.verify %}validé{% else %}non validé
					{% endif %})</h4>
				<h4 class="card-title">mon code pin :
					{% if user.verify %}
						{{ user.pin }}
					{% else %}
						valider votre tel
					{% endif %}
				</h4>
				<p class="card-description">
					{{ user.desc }}
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-8 row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">access_time</i>
					</div>
					<p class="card-category">Forfait</p>
					<h3 class="card-title">{{ forfait.h}}
						<small>H</small>
						{{forfait.m }}<small>min</small>
					</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						expire le :
						{{ ForfaitExpiredAt | date("d/m/Y")  }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6" style="cursor: pointer;" id="presence">
			<div class="card card-stats">
				<div class="card-header card-header-{% if presence %}success{% else %}danger{% endif %} card-header-icon">
					<div class="card-icon">
						<i class="material-icons">store</i>
					</div>
					<p class="card-category">
						{% if presence %}
							tu es au coworking
						{% else %}
							tu n'es pas au coworking
						{% endif %}
					</p>
					<h3 class="card-title" id="compteur">
						{{ today.h }}<small>H</small>
						{{ today.m }}<small>min</small>
					</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i>
						{% if presence %}
							arreter ma journée
						{% else %}
							continuer ma journée
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="material-icons">info_outline</i>
					</div>
					<p class="card-category">Dernière présences</p>
					<h3 class="card-title">{{last.h}}<small>H</small>
						{{last.m}}<small>min</small>
					</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i>
						denière présence le :
						{{last.date | date("d/m/Y") }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block script %}
<script>
	var heure = {{ today.h }};
var min = {{ today.m }};
document.addEventListener('DOMContentLoaded', function () {
var compteur;{% if presence %}compteur = document.getElementById("compteur");
var sec = 0;
var refresh = setInterval(function () {
sec += 1;
if (sec >= 60) {
min += 1;
sec = 0;
if (min >= 60) {
heure += 1;
min = 0;
}
}
compteur.innerHTML = heure + '<span>H</span>' + min + '<span>min</span>';
}, 1000);{% endif %}function reloadpage() {
setInterval(function () {
document.location.reload(true);
}, 1000);

}

function submitajax(e) {
e.preventDefault();

let formData = new FormData();
formData.append("id_user", {{ user.id }});

fetch("/user/admin/newline", {
method: "post",
body: formData
}).then(response => response.json()).then(json => console.log(json)).then(reloadpage());
return false;
};
var formlist = document.getElementById('presence').addEventListener('click', submitajax);
});
</script>{% endblock %}
