{% extends 'layout/user.twig' %}
{% block title %}User Dashboard
{% endblock %}
{% block titlePage %}Dashboard
{% endblock %}
{% block style %}
	<style>
		.hidden-state {
			display: none;
		}
		.hidden-year {
			display: none;
		}
		.hidden-month {
			display: none;
		}
		select {
			border: none;
			color: #3C4858;
			font-weight: 300;
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			text-align: center;
			text-decoration: underline dotted red;
			text-transform: uppercase;
			padding: 0 10px
		}
	</style>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary card-header-icon">
					<div class="card-icon">
						<i class="material-icons">people</i>
					</div>
					<h4 class="card-title">FACTURES
						<select id="rating">
							<option value="">
								État</option>
							<option value=".1">Payé</option>
							<option value=".2">Impayé</option>
							<option value=".3">Brouillon</option>
						</select>

						<select id="year">
							<option value="">
								Année</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022" selected>2022</option>
						</select>

						<select id="month">
							<option value="">
								Mois</option>
							<option value="01">janvier</option>
							<option value="02">fevrier</option>
							<option value="03">mars</option>
							<option value="04">avril</option>
							<option value="05">mai</option>
							<option value="06">juin</option>
							<option value="07">juillet</option>
							<option value="08">août</option>
							<option value="09">septembre</option>
							<option value="10">octobre</option>
							<option value="11">novembre</option>
							<option value="12">décembre</option>
						</select>
					</h4>

				</div>
				<div class="card-body">
					<div
						class="toolbar"><!--        Here you can write extra buttons/actions for the toolbar              -->
					</div>
					<div class="material-datatables">
						<div class="col-12 row">
							{% for invoce in invoces %}
								<div class="col-lg-3 col-md-6 col-sm-12 invoce" data-month="{{ invoce.dateAt | date("m") }}" data-year="{{ invoce.dateAt | date("Y") }}" data-state=".{% if invoce.statePaiement is same as(false) %}3{% elseif invoce.statePaiement <= 0  %}1{% else %}2{% endif %}">
									<div class="card card-stats">
										<div class="card-header card-header-{% if invoce.statePaiement is same as(false) %}danger{% elseif invoce.statePaiement <= 0  %}success{% else %}warning{% endif %} card-header-icon">
											<div class="card-icon">
												<i class="material-icons">
													{% if invoce.statePaiement is same as(false) %}
														dangerous
													{% elseif invoce.statePaiement <= 0  %}
														check
													{% else %}
														access_time
													{% endif %}
												</i>
											</div>
											<p class="card-category">{{invoce.ref}}</p>
											<h3 class="card-title">
												{{ invoce.price }}<small>€</small>
											</h3>
										</div>
										<div class="card-body">
											<h4 class="card-title">{{ invoce.user.firstname}}
												{{ invoce.user.lastname}}</h4>
											<div class="form-inline">
												<a href="{{ path("GetInvoce", {id: invoce.id}) }}" class="btn btn form-inline">
													{% if invoce.statePaiement is same as(false) %}
														éditer
													{% else  %}
														téléchrger
													{% endif %}
												</a>
												{% if invoce.statePaiement > 0  %}
													<form class="form-inline" method="post" action="{{ path("gestion_paye_Invoce")}}" onsubmit="return confirm('Êtes vous sur de vouloir marquer comme payée cette facture? \n \n La demarche est définitive et ne peut être inversée.')">
														<div class="form-group">
															<input name="id" type="hidden" class="form-control" id="id" value="{{ invoce.id }}">
														</div>
														<button type="submit" class="btn btn-success">
															Payé
														</button>
													</form>
												{% endif %}
												{% if invoce.statePaiement is same as(false) %}
													<form class="form-inline" method="post" action="{{ path("gestion_delete_Invoce")}}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette facture? \n \n La demarche est définitive et ne peut être inversée.')">
														<div class="form-group">
															<input name="id" type="hidden" class="form-control" id="id" value="{{ invoce.id }}">
														</div>
														<button type="submit" class="btn btn-danger">
															Delete
														</button>
													</form>
												{% endif %}
											</div>

										</div>
										<div class="card-footer">
											<div class="stats">
												le :
												{{ invoce.dateAt | date("d/m/Y")  }}
											</div>
										</div>
									</div>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>
				<!-- end content-->
			</div>
			<!--  end card  -->
		</div>
		<!-- end col-md-12 -->
	</div>
{% endblock %}
{% block script %}
	<script>
		const rating = document.getElementById('rating');
const year = document.getElementById('year');
const month = document.getElementById('month');
const elements = document.getElementsByClassName('invoce');

rating.addEventListener('change', function () {
let value = rating.value;
[... elements].forEach((element) => {
if (value === '') {
element.classList.remove('hidden-state');
} else {
const rating = element.dataset.state;
if (! rating || rating == value) {
element.classList.remove('hidden-state');
} else {
element.classList.add('hidden-state');
}
}
});
});

year.addEventListener('change', function () {
let value = year.value;
[... elements].forEach((element) => {
if (value === '') {
element.classList.remove('hidden-year');
} else {
const rating = element.dataset.year;
if (! rating || rating == value) {
element.classList.remove('hidden-year');
} else {
element.classList.add('hidden-year');
}
}
});
});

month.addEventListener('change', function () {
let value = month.value;
[... elements].forEach((element) => {
if (value === '') {
element.classList.remove('hidden-month');
} else {
const rating = element.dataset.month;
if (! rating || rating == value) {
element.classList.remove('hidden-month');
} else {
element.classList.add('hidden-month');
}
}
});
});

function gogogogog() {
let value = "2022";
[... elements].forEach((element) => {
if (value === '') {
element.classList.remove('hidden-year');
} else {
const rating = element.dataset.year;
if (! rating || rating == value) {
element.classList.remove('hidden-year');
} else {
element.classList.add('hidden-year');
}
}
});
}

gogogogog()
	</script>
{% endblock %}
