{% extends 'layout/admin.twig' %}

{% block options %}
	<h1 class="h2">Note de frais</h1>
	<div class="btn-group mr-2">
		<a href="/admin/compta/ligne" type="button" class="btn btn-sm btn-outline-secondary">add ligne</a>
	</div>
{% endblock %}
{% block content %}
	<table class="table table-hover" id="recap">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">description</th>
				<th scope="col">debit</th>
				<th scope="col">credit</th>
				<th scope="col">user</th>
				<th scope="col">action</th>
				<th scope="col">creation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form method="POST" action="/admin/compta/ndf">
					<th scope="row">new</th>
					<td><input type="text" name="desc"/></td>
					<td><input type="text" name="debit" value="0"/></td>
					<td><input type="text" name="credit" value="0"/></td>
					<td>
						<select name="id_users" class="form-control">
							<option value="">
								---- SELECTIONNEZ ----
							</option>
							{% for user in users %}
								<option value="{{ user.id }}">
									{{ user.firstname }}
									{{ user.lastname }}
								</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<button class="btn btn-primary" type="submit">create</button>
					</td>
				</form>
			</tr>
			{% for item in items %}
				<tr>
					<th scope="row">{{ item.id }}</th>
					<td>{{ item.desc }}</td>
					<td>{{ item.debit }}</td>
					<td>{{ item.credit }}</td>
					<td>{{ users[item.idUsers].lastname }}
						{{ users[item.idUsers].firstName }}</td>

					<td>{{ item.createdAt }}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}

{% block script %}{% endblock %}
