{% extends 'layout/default_beer.twig' %}

{% block body %}
<section id="boutiques" class="container-fluid accueil">
	<header class="header-boutique row no-gutters d-flex flex-column align-items-center justify-content-center mb-5">
		<h1 class="h1 text-center">Nos Produits</h1>
	</header>
	<div class="row productField">
		{% for beer in beers %}
		<article class="col-12 col-sm-6 col-md-4 mb-4">
			<div class="card p-3" onclick="getProductsModal('{{ beer.title }}', '{{ beer.img }}', '{{ beer.content }}', '{{ (beer.priceHt * constant.TVA)| number_format(2, ',', '.') }}', {{ beer.id }})" data-toggle="modal" data-target="#modal">
				<h2 class="text-center">{{ beer.title }}</h2>
				<div class="d-flex align-items-center justify-content-center"><img class="w-25" src="{{ beer.img }}"
						alt="{{ beer.title }}" /></div>
				<p class="text-truncate">{{ beer.content }}</p>
				<p class="text-right">{{ (beer.priceHt * constant.TVA)| number_format(2, ',', '.') }}€</p>
			</div>
		</article>
		{% endfor %}
	</div>
	<div id="modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body row">
					<div class="col-12 col-sm-3">
						<img class="w-100" id="modal-body-img" src="" alt="">
					</div>
					<div class="col-12 col-sm-9 d-flex flex-column justify-content-between">
						<span id="modal-message"></span>	
						<p id="modal-body">Modal body text goes here.</p>
						<p class="text-right" id="modal-body-price"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button id="product_id" type="button" class="btn btn-primary" onclick="addToCart()">Ajouter au panier</button>
					<a href="/boutique/panier" class="btn btn-info" >Voir mon panier</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}