{% extends 'layout/default_beer.twig' %}

{% block body %}
<h1 class="titreduhaut text-center mt-5">Confirmation de commande</h1>
<section id="commandSection" class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nomination</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
				<th>Total TTC</th>
			</tr>
		</thead>
		<tbody>
			{% for key, beer in beers %}
				<tr>
					<td>{{ beer.title }}</td>
					<td>{{ beer.price| number_format(2, ',', '.') }}€</td>
					<td>{{ beer.price * constant.TVA| number_format(2, ',', '.') }}€</td>
					<td>{{ qty[key] }}</td>
					<td>{{ ((beer.price * constant.TVA) * qty[key])| number_format(2, ',', '.') }}€</td>
				</tr>
			{% endfor %}
			<tr>
				<td><strong>Total TTC</strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td><strong>{{order| number_format(2, ',', '.') }}€</strong></td>
			</tr>
		</tbody>
	</table>
	<p style="text-align: center">Celle-ci vous sera livrée au {{ session.user.address }} {{ session.user.zipCode }} {{ session.user.city }} sous deux jours</p>
		<p style="text-align:center">
			<small>Si vous ne réglez pas sous 10 jours, le prix de votre commande sera majoré.(25%/jour de retard)</small>
		</p>
</section>
{% endblock %}