<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<head>
		<title>
			{% block title %}Co Work In Moulins
			{% endblock %}
		</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<noscript>
			<link rel="stylesheet" href="/assets/css/noscript.css"/></noscript>
		<link rel="stylesheet" href="/assets/css/perso.css"/> {% block style %}{% endblock %}
		</head>

		<body
			class="is-preload">

			<!-- Wrapper -->
			<div id="wrapper" class="fade-in"> {% block intro %}{% endblock %}

				<!-- Header -->
				<header id="header">
					<a href="/" class="logo">CoWorkInMoulins</a>
				</header>

				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li {{ linkactive("home") }}>
							<a href="/">Le coworking</a>
						</li>
						<li {{ linkactive("events") }} {% if event %} {{ linkactive("events") }} {% endif %}>
							<a href="/events">Evenements</a>
						</li>
						<li {{ linkactive("usersLogin") }} {{ linkactive("usersSubscribe") }} {{ linkactive("usersMdpoublie") }} {{ linkactive("activatePage") }} {{ linkactive("usersMdpchange") }}>
							<a href="/login">Espace Membre</a>
						</li>
					</ul>
					<ul class="icons">
						<li>
							<a href="https://www.facebook.com/espaceCWM" class="icon brands fa-facebook-f">
								<span class="label">Facebook</span>
							</a>
						</li>
					</ul>
				</nav>

				<!-- Main -->
				<div id="main" classe"main">
					{% block content %}

						<div id="scroll_to_top">
							<a href="#">&uarr; Haut de page</a>
						</div>
						
						<!-- Featured Post -->
						
						<article class="post featured">
							<div class="nav-accueil">
								<ul>
									<li>
										<a href="#horaires" class="button">Horaires &amp; plan</a>
									</li>
									<li>
										<a href="#tarifs" class="button">Tarifs</a>
									</li>
									<li>
										<a href="#contact" class="button">Contacts</a>
									</li>
								</ul>
							</div>
							<header class="major">
								<h2>Espace de Cowoking<br>
									à Moulins
								</h2>
								<p>L'espace de coworking se situe au 1 place Maréchal de Lattre de Tassigny<br>
									à côté de la salle des fêtes en plein centre de Moulins.</p>
							</header>
							<ul class="actions special">
								<li>
									<a href="/inscription" class="button">Inscrivez-vous ici</a>
								</li>
							</ul>
							<img height="500px" src="/images/pic01.jpg" alt=""/>
						</article>
						<article class="post featured horplan">
							<section class="">
								<header>
									<h2 id="horaires">Les Horaires</h2>
								</header>
								<div class="title">L'espace Coworking de Moulins<br>vous accueille<br>
									Du lundi au vendredi<br>
									de 9h - 12h et 14h - 17h<br><br>
								</div>
								<p>Stationnement :<br>
									Payant : Parking Tassigny ouvert du lundi au vendredi de 9h - 12h et 14h - 18h<br>
									(CB, billets de 5, 10 &amp; 20 €) &amp; pièces de 0.10 € à 2 €)<br>
									<span class="em"><a href="http://www.ville-moulins.fr/ma-ville/vie-quotidienne/stationnement/stationnement-payant.html" target="_blank" class="em">En savoir plus sur les tarifs du stationnement</a></span><br>
									Gratuit : En face du CoWorking en traversant la rue Achille Roche<br>
									<span class="em"><a href="http://www.ville-moulins.fr/ma-ville/vie-quotidienne/stationnement.html" target="_blank" class="em">En savoir plus sur le stationnement à Moulins</a></span><br>
								</p>
								
							</section>
							<section class="">
								<header>
									<h2 id="plan">Plan d'accès</h2>
								</header>
								<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.328943252563477%2C46.56135375448666%2C3.3316254615783696%2C46.562668671966165&amp;layer=mapnik&amp;marker=46.56201121721002%2C3.330284357070923" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.56201&amp;mlon=3.33028#map=19/46.56201/3.33028" target="_blank"><span class="em">Afficher une carte plus grande</span></a></small>

							</section>
						</article>
						<article class="post featured">
							<header>
								<h2 id="tarifs">
									Les Tarifs
								</h2>
							</header>
							<div class="tarif">
								<ul>
									<li class="title">Quand on est de passage...</li>
									<li class="title-marge">
										<ul>
											<li class="title">non adhérent</li>
											<li class="des">l'heure</li>
											<li class="prix">5 €</li>
										</ul>
										<ul>
											<li class="title">non adhérent</li>
											<li class="des">la demie-journée</li>
											<li class="prix">12 €</li>
										</ul>
										<ul>
											<li class="title">non adhérent</li>
											<li class="des">la journée</li>
											<li class="prix">20 €</li>
										</ul>
									</li>
									<li class="title">Quand on veux rester un peu plus...</li>
									<li class="title-marge">
										<ul>
											<li class="title">adhérent</li>
											<li class="des">l'heure</li>
											<li class="prix">2,5 €</li>
										</ul>
										<ul>
											<li class="title">adhérent</li>
											<li class="des">la demie-journée</li>
											<li class="prix">6 €</li>
										</ul>
										<ul>
											<li class="title">adhérent</li>
											<li class="des">la journée</li>
											<li class="prix">10 €</li>
										</ul>
									</li>
									<li class="title">Quand on nous a adopté...</li>
									<li class="title-marge">
										<ul>
											<li class="title">FORFAIT</li>
											<li class="des">25 heures</li>
											<li class="prix">25 €</li>
										</ul>
										<ul>
											<li class="title">FORFAIT</li>
											<li class="des">55 heures</li>
											<li class="prix">50 €</li>
										</ul>
										<ul>
											<li class="title">FORFAIT</li>
											<li class="des">125 heures</li>
											<li class="prix">100 €</li>
										</ul>
									</li>
									<li class="title">Là, c'est pour que ça devienne votre maison...</li>
									<li class="title-marge">
										<ul>
											<li class="title">Adhésion Individuelle</li>
											<li class="des"></li>
											<li class="prix">20 € / an</li>
										</ul>
										<ul>
											<li class="title">Adhésion Professionelle</li>
											<li class="des"></li>
											<li class="prix">200 € / an</li>
										</ul>
										<ul>
											<li class="title">Forfait Mois</li>
											<li class="des">option domiciliation 50 €</li>
											<li class="prix">100 € / mois</li>
										</ul>
									</li>
								</ul>
							</div>
						</article>
						<!-- Posts -->

					{% endblock %}
				</div>

				<!-- Footer -->
				<footer id="footer">
					<section>
						<h2 id="contact">Nous contacter</h2>
						<form method="post" id="contactMail" action="{{ path("mailSend") }}">
							<div class="fields">
								<div class="field">
									<label for="name">Nom</label>
									<input type="text" name="name" id="name"/>
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="text" name="email" id="email"/>
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="3"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Envoyer"/></li>
							</ul>
						</form>
					</section>
					<section class="split contact">
						<section class="alt">
							<h3>adresse</h3>
							<p>1 place Maréchal de Lattre de Tassigny<br/>
								03000 Moulins</p>
						</section>
						<section>
							<h3>telephone</h3>
							<p>
								<a href="tel:+33783346912">07.83.34.69.12</a>
							</p>
						</section>
						<section>
							<h3>Email</h3>
							<p>
								<a href="mailto:Contact@coworkinmoulins.fr">Contact@coworkinmoulins.fr</a>
							</p>
						</section>
						<section>
							<h3>Social</h3>
							<ul class="icons alt">
								<li>
									<a href="https://www.facebook.com/espaceCWM" class="icon brands alt fa-facebook-f">
										<span class="label">Facebook</span>
									</a>
								</li>
							</ul>
						</section>
					</section>
				</footer>

				<!-- Copyright -->
				<div id="copyright">
					<ul>
						<li>By julien in
							{{debugTime}}
							ms</li>
						<li>Design:
							<a href="https://html5up.net">HTML5 UP</a>
						</li>
					</ul>
				</div>
			</div><!-- Scripts --><script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
			<script>
				toastr.options = {
"closeButton": false,
"debug": false,
"newestOnTop": false,
"progressBar": true,
"positionClass": "toast-bottom-right",
"preventDuplicates": true,
"onclick": null,
"showDuration": "300",
"hideDuration": "1000",
"timeOut": "5000",
"extendedTimeOut": "1000",
"showEasing": "swing",
"hideEasing": "linear",
"showMethod": "fadeIn",
"hideMethod": "fadeOut"
};{% if flash('success') %}{% for successMesassage in flash('success') %}toastr["success"]("{{ successMesassage }}");{% endfor %}{% endif %}{% if flash('error') %}{% for error in flash('error') %}toastr["error"]("{{ error }}");{% endfor %}{% endif %}
			</script>
			{% block script %}{% endblock %}
		</body>
	</html>
